/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .navbar {
   background-color: #2E6DA4;
   .navbar-header a,
   .nav li a {
     color: orange;
     font-weight: bold;
     text-transform: uppercase;
     &:hover {
       color: white;
     }
   }
 }

 .btn-primary {
   //background-color: #007bff !important;
 }

 .chatrooms-col {
   margin-right: 100px;
 }

 .list {
   list-style: square;
   a {
     text-transform: uppercase;
     color: #2E6DA4;
     font-weight: bold;
   }
   a:hover {
     text-decoration: none;
     color: orange;
   }
 }

.chatrooms-title {
  padding: 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid orange;
  background-color: orange;
  border-radius: 5%;
}
