// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.settings-title,
.chatroom-name {
  text-transform: uppercase;
  color: orange;
  padding-bottom: 40px;
}

.t-actions td a,
.new {
  padding: 10px 10px;
  color: #2E6DA4;
  &:hover {
    color: orange;
    text-decoration: none;
  }
}

.t-actions td {
  margin: 100px;
}

.user-name {
  color: #2E6DA4;
  margin: 5px 10px 5px 0;
}

.btn {
  margin: 20px 5px;
}

input[type=submit]{
  background-color: transparent;
  border: 0px solid transparent;
}
